/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #30BA8F;
    color: #0859d4;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #0876e5;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-top: 30px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Видео */
iframe {
    display: block;
    margin: 20px auto;
    border: 5px solid #ddd;
    border-radius: 10px;
    max-width: 100%;
}

/* Список комментариев */
ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

li strong {
    color: #2c3e50;
}

li small {
    color: #aaa;
    font-size: 0.9rem;
}

p {
    text-align: center;
    color: #666;
}

/* Форма */
form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Адаптивность */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    ul, form {
        margin: 10px;
    }

    iframe {
        max-width: 100%;
    }
}

